<h1>Login</h1>

<form action="/sessions" method="post">
  <div class="mb-3">
    <label for="email_input" class="form-label">Email</label>
    <input type="text" class="form-control" name="email" id="email_input">
  </div>
  <div class="mb-3">
    <!-- TODO: obfiscate password input -->
    <label for="password_input" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password_input">
  </div>

    <input class="btn btn-primary" type="submit" value="Login">
  <a class="btn btn-primary" href="/places" role="button">Cancel</a> 
</form>
