<h1>Places</h1>

<p>
  <a class="btn btn-outline-secondary" href="/places/new" role="button">New place</a>
 </p>

<ul>
  <% for place in @places %>
         <p>  <a href="/places/<%= place["id"] %>"><%= place["name"] %></a></p>
  <% end %>
</ul>




